<!--*********************************10.1*********************************-->
<!-- ~~10_1~~ -->

<!-- <% let name = "Jon"; %> --> <!--define and assign a variable in ejs -->
<!-- <h1> Hello, <%= name %> </h1> --> <!--embed a variable within HTML -->

<!--*********************************10.2*********************************-->
<!--~~10_3~~-->

<h1> Hello, <%= name %> </h1>